@model DualPrep.Models.Exercise

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="DP-AboutCreate">Create</h1>

<h4 class="DP-AboutCreate">Exercise</h4>
<p class="DP-AboutCreate">Use this form to add your favorite exercises.</p>
<hr />
<div class="DP-FormContainer">
    <div class="DP-CreateForm">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="DP-TextDanger"></div>
            <div class="DP-FormLine">
                <label asp-for="Name" class="DP-CreateLabel"></label>
                <input asp-for="Name" class="DP-CreateInput" />
                <span asp-validation-for="Name" class="DP-TextDanger"></span>
            </div>
            <div class="DP-FormLine">
                <label asp-for="Summary" class="DP-CreateLabel"></label>
                <input asp-for="Summary" class="DP-CreateInput" />
                <span asp-validation-for="Summary" class="DP-TextDanger"></span>
            </div>
            <div class="DP-FormLine">
                <label asp-for="Equipment" class="DP-CreateLabel"></label>
                <input asp-for="Equipment" class="DP-CreateInput" />
                <span asp-validation-for="Equipment" class="DP-TextDanger"></span>
            </div>
            <div class="DP-FormLine">
                <label asp-for="Directions" class="DP-CreateLabel"></label>
                <textarea asp-for="Directions" class="DP-CreateInput"></textarea>
                <span asp-validation-for="Directions" class="DP-TextDanger"></span>
            </div>
            <div class="DP-FormLine">
                <label asp-for="Muscle" class="DP-CreateLabel"></label>
                <select asp-for="Muscle" asp-items="Html.GetEnumSelectList<MuscleGroups>()" class="DP-CreateInput"></select>
                <span asp-validation-for="Muscle" class="DP-TextDanger"></span>
            </div>
            <div class="DP-FormLine">
                <label class="DP-UploadFile">
                    <input type="file" name="file" id="file" />
                    Upload a Photo
                </label>
            </div>
            <div class="DP-FormLine">
                <input type="submit" value="Create" class="DP-CreateSubmit" />
                <a asp-action="Index" class="DP-CreateBack">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
