@model DualPrep.Models.ExerciseViewModels.FavoriteData

@{
    ViewData["Title"] = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="DP-FavePage">
    <h1>
        My Favorites
    </h1>
    <div class="DP-FaveList">
        @foreach (var item in Model.ExerciseFavorites)
        {
            <div>
                <a asp-action="Details" asp-route-id="@item.Exercise.Id">
                    <p>@Html.DisplayFor(modelItem => item.Exercise.Name)</p>
                </a>
            </div>
            <div>
                <form asp-action="Favorites" asp-route-id="@item.Id" method="post">
                    @*<input type="hidden" asp-route-id="MealFavorites" />*@
                    @*<input type="submit" value="Remove Favorite" class="DP-FaveButtonR" />*@
                    <label class="DP-RemoveFaveLabel">
                        <input type="submit" value="Remove Favorite" class="DP-FaveButtonR" />
                        Remove Favorite
                    </label>
                </form>
            </div>
        }
    </div>
</div>
