@model DualPrep.Models.MealFavorite

@{
    ViewData["Title"] = "CreateFavorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateFavorites</h1>

<p>
    this meal was added to your favorites.
</p>